# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tine Marbjerg\OneDrive - Københavns Erhvervsakademi\2. semester e2020\Java programmer\GroceryListDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
